html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

body {
  font-family: 'Raleway', sans-serif;
  color: rgb(50, 50, 50);
}

.jumbotron {
  background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(assets/back.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat:  no-repeat;
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
  opacity: 0.9;
}

span {
  font-weight: 600;
}

.marquee {
  position: absolute;
  top: 3vh;
  left: 0;
  width: 100%;
  font-size: 3vw;
  line-height: 1;
  overflow: hidden;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-8000vw);
  }
}

.marquee span {
  animation: moveLeft 1600s infinite;
  white-space: nowrap;
  display: block;
  position: relative;
}

.logo {
  grid-area: 1/1;
  max-width: 500px;
  display: block;
  opacity: 0.9;
}

.contact {
  position: absolute;
  bottom: 2vh;
  font-size: 2vw;
}

.fas {
  margin-right: 16px;
}

a {
  margin-left: 16px;
  color: rgb(50, 50, 50);
}

a:hover {
  color: rgba(50, 50, 50, 0.7);
}

@media (max-width: 640px) {
  .marquee {
    font-size: 1.5rem;
    position: absolute;
    top: 12vh;
  }

  .logo {
    max-width: 300px;
  }

  .contact {
    font-size: 1rem;
    position: absolute;
    bottom: 16vh;
  }
}
